<ng-container>
    <td [attr.data-text]="client.firstname" class="name">{{client.firstname}} {{client.lastname}}</td>
    <td [attr.data-text]="client.card">{{client.card}}</td>
    <td [attr.data-text]="client.firstname">{{client.date_of_birth}}</td>
    <td [attr.data-text]="client.firstname">{{client.phone}}</td>
    <td [attr.data-text]="client.firstname">{{client.email}}</td>
    <td [attr.data-text]="client.firstname">{{client.address}}</td>
    <td [attr.data-text]="client.firstname">{{client.contracts_count}}</td>
    <td><ng-content></ng-content></td>
</ng-container>


